<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Title">Title</label>
    <div class="col-sm-7">
        <input autofocus class="form-control" name="Title" value="<%= model.Title %>"/>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Description">Descreption</label>
    <div class="col-sm-7">
        <input class="form-control" name="Description" value="<%= model.Description %>"/>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="DueDate">Due Date</label>
    <div class="col-sm-7">
        <input type="date" class="form-control" name="DueDate" value="<%= model.DueDate %>" />
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Status">Status</label>
    <div class="col-sm-7">
        <select class="custom-select" name="Status">
            <option value="incomplete">incomplete</option>
            <option value="completed">completed</option>
        </select>
        <!-- <input class="form-control" name="Status" value="<%= model.Status %>" /> -->
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Priority">Priority</label>
    <div class="col-sm-7">
        <select class="custom-select" name="Priority">
            <option value="medium">medium</option>
            <option value="high">high</option>
            <option value="low">low</option>
        </select>
        <!-- <input class="form-control" name="Priority" value="<%= model.Priority %>" /> -->
    </div>
</div>